<div class="jumbotron">
  <div class="container">
    <h1><span class="headline">Lets get cookin with your favorites!<span></h1>
    <!-- <p class="feature-desc">Impress your friends with these quick and easy dishes!</p> -->
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div> 
</div>

<section id='myFavorites' class='container' ng-controller="FavoritesController">
    <div class="container" ng-repeat="recipe in favorites.results">
      <h1><span class="recipename">{{recipe.name}}<span></h1>
      <img class="center" src={{recipe.image}}>
      <div class="row">
        <div class="col-md-4">
        <hr>
          <h2>Ingredients</h2>
          <div class="ingredients" ng-repeat="item in recipe.ingredients track by $index">
            {{item}}
          </div>
          <a href={{recipe.url}} target="blank">Click Here for Instructions</a>
        <hr>
        </div>
      </div>
    </div>
</section>