<div class="jumbotron">
  <div class="container">
    <h1><span class="headline">Ready For A Dinner Party?<span></h1>
    <p class="feature-desc">Impress your friends with these quick and easy dishes!</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div> 
</div>

<section id='myFavorites' class='container' ng-controller="FavoritesController">
    <div class="container">
      <h1><span class="recipename">{{recipeName}}<span></h1>
      <img class="center" src={{recipeImage}}>
      <button type="button" ng-click ="postFavorite()"> + Add to favorites!</button>
    </div>
    <div class="container">
        <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Ingredients</h2>
          <div class="ingredients" ng-repeat="item in recipeIngredients track by $index">
            {{item}}
          </div>
          <a href={{recipeLink}} target="blank">Click Here for Instructions</a>
        </div>
      </div>
    <hr>
    </div>
</section>