<!-- depicts features recipes -->


  <section class="homeView" ng-controller="homeViewCtrl">

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
       <h1><span class="headline">Ready For A Dinner Party?<span></h1>
       <p class="feature-desc">Impress your friends with these quick and easy dishes!</p>
       <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
     </div>
   </div>

  <!-- Search bar -->
  <div id="searchBar" ng-controller='search.ctrl'>

    <form class="form-inline">
      <input id="searchField" ng-model ="userQuery" class="form-control" type="text" placeholder="Search">
      <button ng-click="searchRecipes(userQuery)"class="btn btn-success-outline" type="submit"><a id="searchButton" href="#/results">Search</a></button>
    </form>
   
   <!-- Results from search -->
    <div class="row">
       <hr class="suggestedRecipes">
      <div ng-repeat="recipe in list" class="col-md-4">
      <a  href="#/recipe" ng-click="showRecipe(recipe.id)"><img class="center" ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
      <h3>
        <h2 class="recipeName" href="#">{{recipe.recipeName}}</h2>
        <a class="btn btn-default" href="#/recipe" ng-click="showRecipe(recipe.id)" role="button">View recipe &raquo;</a>
      </h3>
      </div>
    </div>

  </div>

  <!-- Below are suggested recipes that load upon opening page -->
  <hr class="suggestedRecipes">
  <h2 class="suggestedRecipes">Need Suggestions?</h2>
     <!-- Example row of columns -->
     <div class="row">
       <div ng-repeat="recipe in featured.matches" class="col-md-4">
         <a  href="#/recipe" ng-click="showRecipe(recipe.id)"><img class="center" ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
         <h2>{{recipe.recipeName}}</h2>
         <p><a class="btn btn-default" href="#/recipe" ng-click="showRecipe(recipe.id)" role="button">View recipe &raquo;</a></p>
       </div>

     </div>
   <hr>
 </div>
</section>
