<div class="jumbotron" id="recipe">
  <div class="container">
    <h1><span class="headline">Lets get this party started!<span></h1>
    <!-- <p class="feature-desc">Impress your friends with these quick and easy dishes!</p> -->
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div> 
</div>

<section id='myRecipe' class='container' ng-controller="RecipeViewCtrl">
    <div class="container">
      <h1 id="singleRecipe"><span class="recipename">{{recipeName}}<span></h1>
    </div>
    <div class="container">
      <div>
        <img id="recipeImage" src={{recipeImage}}>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div id="singleRecipe" class="col-md-4">
          <h2 id="singleIngredients">Ingredients</h2>
          <div id="recipeIngredientsList" class="ingredients" ng-repeat="item in recipeIngredients track by $index">
            {{item}}
          </div>
          <a id="recipeLink" href={{recipeLink}} target="blank">Click Here for Instructions</a>
          <button id="favoritesButton" type="button" ng-click ="postFavorite()"> + Add to favorites!</button>
          <div id="favsuccess"><i>{{favSuccess}}</i></div>
        </div>
      </div>
      <hr>
    </div>
</section>
